body {
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  h1{
      text-align: center;
      text-decoration: none;
      font-size: 100px;
      color: #f700ff;
  }